/* font-family: 'Montserrat', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap");

/* font-family: 'Mukta', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;600;700&display=swap");

:root {
	font-size: 20px;
	font-family: "Mukta", sans-serif;
	--text-light: white;
}

body {
    background: #121212;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0;
	margin-bottom: 30px;
	color: var(--text-light);
}

nav {
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav > .searchBar {
	max-width: 450px;
	width: 100%;
	text-align: center;
	border-radius: 18px;
	padding-left: 15px;
	display: flex;
	background-color: rgba(46, 46, 46, 0.616);
}

nav > h1 {
	text-transform: uppercase;
}

.searchBar > input {
	width: 85%;
	border: 0;
	height: 40px;
	background: transparent;
	outline: none;
	font-size: 0.9rem;
	color: var(--text-light);
	text-transform: uppercase;
}

.searchBar > button {
	width: 15%;
	border: 0;
	cursor: pointer;
	background: transparent;
	font-size: 1em;
	color: var(--text-light);
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	row-gap: 25px;

	max-width: 1300px;
	width: 100%;
	margin-top: 50px;
	align-self: center;
}

.col {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	width: 250px;
	height: 350px;
	border-radius: 18px;
	align-self: center;
	background-color: white;
	box-shadow: 5px 10px 6px -6px rgba(10, 10, 10, 0.774);
	background-repeat: round;
}

.cardLayer {
	position: absolute;
	width: 250px;
	height: 350px;
	border-radius: 18px;
	background-color: black;
	cursor: pointer;
	background: rgb(255, 255, 255);
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(0, 0, 0, 0.5648634453781513) 50%,
		rgba(0, 0, 0, 1) 100%
	);
}

.cardTitle {
    margin: 75% 20px 0 10px;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bolder;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;   
}

.cardSummary {
    margin: 0 10px 15px 10px;
    font-size: 0.8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;   
}

.rowVazio {
	grid-column: 1 / -1;
	text-align: center;
}

@media (max-width: 1024px) {
	:root {
		font-size: 15px;
	}

	body {
		margin: 15px;
	}

	nav {
		text-align: center;
	}

	.container {
		display: flex;
        flex-direction: column;

		max-width: 1300px;
		width: 100%;
		margin-top: 50px;
		align-self: center;
	}

    .cardSummary {
        -webkit-line-clamp: 4;
    
    }
}
